@import "src/styles/var";

.login-form-wrapper {
  display: flex;
  justify-content: center;

  .login-panel {
    font-size: 20px;
    min-width: 400px;
    background-color: $capri;
    border-radius: 8px;
    padding: 20px;
    margin-top: 50px;

    .error {
      background-color: salmon;
    }

    label,
    input {
      display: block;
      width: 100%;
    }

    label {
      margin: 0;
      color: white;
    }

    .submit-button {
      display: flex;
      justify-content: flex-end;

      button {
        margin-top: 10px;
        width: 100px;
      }
    }
  }
}
